body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.row {
  text-shadow: #525151;
  animation: backwards;
}
.row h2 {
  text-align: center;
  color: #3f352e;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  text-align: justify;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border: #525151;
}
.card img {
  width: 100%;
  height: 70%;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #ec9315;
  color: #fff;
  padding: 10px;
}

.container {
  padding: 0 16px;
  color: #3f352e;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3f352e;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}
