.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3F352E;
    width: 100%;
    height: auto;
    color: #D1D3D4;
    text-align: center;
}

.footer-content {
    margin: 5% 10% 10% 10%;
}

.footer-content h2 {
    font-size: 2.5em;
    padding-bottom: 5% ;
}

.footer-social {
    width: 100%;
    font-size: 2em;
    margin-bottom: 10%;
}

.footer-social a {
    display: inline-block;
    color: #D1D3D4;
    padding: 5% 10% 2% 10%;
}

.site-map {
    width: 100%;
}

.site-map ul li {
    list-style: none;
    padding: 10px;
}

.site-map ul li a {
    text-decoration: none;
    color: #D1D3D4;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.copyright {
    width: 100%;
    font-size: 0.8em;
    padding: 10% 1% 1% 3%;
}
/* iPads, tablets... */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .footer-content {
        margin: 2% 5% 2% 5%;
    }

    .footer-social {
        font-size: 2.5em;
        margin-bottom: 3%;
    }

    .site-map ul li {
        display: inline-block;
        padding: 2% 4%;
    }
    
}

/* laptops, desktops */
@media screen and (min-width: 769px) {

    .footer-wrapper {
        width: 100%;
        height: auto;
    }

    .footer-content h2 {
        font-size: 2.5em;
        padding-bottom: 2%;
    }

    .footer-content {
        margin: 0;
    }

    .footer-social {
        font-size: 1.5em;
        margin: 0;
    }

    .footer-social a {
        padding: 3% 3% 2% 3%;
    }

    .footer-social a:hover {
        color: #EC9315;
    }

    .site-map ul li {
        display: inline-block;
        padding: 2% 7%;
    }

    .site-map ul li a:hover {
        color: #EC9315;
    }

    .copyright {
        font-size: 0.8em;
        padding: 0;
        margin-bottom: 4px;
        margin-top: 2%;
    }
}