footer {
    width: 100%;
    font-size: 15px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3F352E;
    height: auto;
    color: #D1D3D4;
    text-align: center;
    margin: 0;
}

.footer-social {
    width: 100%;
    font-size: 5px;
    margin-bottom: 10%;
}

.footer-social a {
    font-size: 30px;
    display: inline-block;
    color: #D1D3D4;
    padding: 5% 10% 2% 10%;
}

.site-map {
    width: 100%;
}

.site-map ul {
    padding: 0;
}

.site-map ul li {
    list-style: none;
    padding: 10px;
}

.site-map ul li a {
    text-decoration: none;
    color: #D1D3D4;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.copyright {
    width: 100%;
    font-size: 0.8em;
    padding: 10% 0% 1% 0%;
}
/* iPads, tablets... */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .footer-social {
        font-size: 30px;
        margin-bottom: 3%;
    }

    .site-map ul li {
        display: inline-block;
        padding: 2% 4%;
    }
    
}

/* laptops, desktops */
@media screen and (min-width: 769px) {

    .footer-wrapper {
        width: 100%;
        height: auto;
    }

    .footer-social {
        font-size: 30px;
        margin: 0;
    }

    .footer-social a {
        padding: 3% 3% 2% 3%;
    }

    .footer-social a:hover {
        color: #EC9315;
    }

    .site-map ul {
        padding: 0;
        margin: 2% 0 2% 0;
    }

    .site-map ul li {
        display: inline-block;
        padding: 2% 7%;
    }

    .site-map ul li a:hover {
        color: #EC9315;
    }

    .copyright {
        font-size: 13px;
        padding: 0;
        margin-bottom: 1%;
    }

    .copyright p {
        margin: 0;
    }
}