
.header {
  width: 100%;
  background-color: #3f352e;
  position: relative;
}
.hamburger {
  margin: 10%;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ec9315;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  visibility: hidden;
  transition: 0.1s;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger-smallscreen {
  width: 100%;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  background-color: #3F352E;
}

.hamburger-smallscreen ul {
  list-style-type: none;
}

.hamburger-smallscreen ul li a {
  text-decoration: none;
  color: #D1D3D4;
  display: block;
  font-size: 1rem;
  padding: 5%;
}

.ham-dropdwn {
  width: 100%;
  display: inline-block;
}

.ham-dropdwn a {

  float: left;
}

.ham-dropdwn #list-arrow {
  float: right;
}

.hide {
  display: none
}

#dropdwn-ul {
  display: block;
}

#list-arrow:focus{
  color: #ec9315;
}

#large,
#regional,
#bar {
  margin-left: 10vw;
  font-size: 0.9em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 20vw;
  height: 20vw;
}

nav {
  display: none;
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  #large,
  #regional,
  #bar {
    margin-left: 0;
    font-size: 1em;
    font-style: normal;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    
  }
  header img {
    width: 70px;
    height: 70px;
  }
  .hamburger-smallscreen {
    display: none;
  }
  nav {
    position: static;
    text-transform: uppercase;
    display: inline-block;
    width: 80%;
    visibility: visible;
  }

  nav ul {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    list-style-type: none;
    position: relative;
  }

  nav ul li a {
    color: #D1D3D4;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0;
  }

  nav ul li a:hover {
    color: #ec9315;
  }

  a:is(:link, :active, :visited).active {
    border: 3px solid #ec9315;
    border-radius: 5px ;
    padding: 10px;
  }

  nav ul li:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }

  nav ul li ul {
    margin-left: -10vw;
    width: 25vw;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    display: block;
    position: absolute;
    background-color: #3F352E;
    border-radius: 10px;
    padding: 15px;
    z-index: 100;
  }

  nav ul li:hover ul {
    height: 225px;
    visibility:visible;
    opacity: 0.9;
    transform: translateY();
    z-index: 100;
  }

  nav ul li ul li {
    width: 100%;
    padding: 30px 0 0 0;
    text-align: center;
  }

  nav ul li ul li a {
    color: #fff;
    padding: 8px 14px;
    display: block;
  }

  nav ul li ul li a:hover {
    background-color: #ec9315;
    color: #111;
  }

  .list-a {
    border: 2px solid #111;
    padding: 5px;
  }
}

@media screen and (min-width: 1000px) {

  nav ul li ul {
    margin-left: -5vw;
    width: 13vw;
  }


}
