html {
  font-size: 16px;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #ec9315;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.boxes {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  font-size: 3.5vw;
  color: white;
  text-align: center;
  width: 50%;
  height: 50vw;
  background-position: right;
  background-size: cover;
}

.slider img {
  width: 5%;
}
.side-bar {
  display: none;
}
.modal {
  display: none;
  text-align: center;
  background-color: gray;
  color: white;
  width: 90%;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal p {
  font-size: 2vw;
  padding: 0 0.7vw;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 96%;
  background-color: red;
  border: 2px solid #ec9315;
}
.modal img {
  width: 30%;
  height: 20vw;
  border: 2px solid #ec9315;
}
.overlay {
  position: absolute; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5); /* color */
  display: none; /* making it hidden by default */
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .slider {
    background-color: #ec9315;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
  }
  .boxes {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .box {
    font-size: 1.2rem;
    width: 40%;
    height: 33vw;
    color: white;
    border: 2px solid orange;
    text-align: center;
    position: relative;
  }
  .btn-box {
    position: absolute;
    bottom: 5%;
  }
  .side-bar {
    display: block;
    width: 20%;
    height: auto;
    background-color: rgb(187, 179, 179);
    color: black;
  }
  .best-box {
    text-align: center;
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
  }
  .best-box p {
    padding: 5%;
    margin: 0;
  }

  .best-box img {
    width: 10vw;
    height: 15vh;
  }
  .facebook-feed {
    border: 2px solid red;
    height: 10vh;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  body {
    margin: auto;
  }

  .slider img {
    width: 5%;
    display: block;
  }
  .boxes {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .box {
    font-size: 1rem;
    width: 30%;
    height: 25vw;
    color: white;
    border: 2px solid orange;
    text-align: center;
    position: relative;
  }
}
